<%- layout('/layout/boilerplate') %>
    <div class="row">
        <h1 class="text-center mt-5 mb-5"> Edit campground</h1>

        <div class="col-6 offset-3">
            <form action="/campground/<%= foundproduct._id %>?_method=PUT" method='POST'
                class="d-inline needs-validation" enctype="multipart/form-data" novalidate>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                    <input type="text" class="form-control" name="title" value="<%= foundproduct.title %>" required>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="inputGroup-sizing-default">location</span>
                    <input type="text" class="form-control" name="location" value="<%= foundproduct.location %>"
                        required>
                </div>
                <div class=" input-group mb-4">
                    <span class="input-group-text">price</span>
                    <input type="number" name="price" class="form-control" value="<%= foundproduct.price %>" required>
                </div>
                <div class="input-group mb-4">
                    <span class="input-group-text" id="inputGroup-sizing-default">description</span>
                    <input type="text" name="description" class="form-control" value="<%= foundproduct.description %>"
                        required>
                </div>
                <div class="mb-4">
                    <label for="formFile" class="form-label"></label>
                    <input class="form-control" type="file" name="images" id="formFile" multiple>
                </div>
                <div class="mb-4">
                    <% foundproduct.images.forEach((img, i)=> { %>
                        <div class="img-fluid">
                            <img src="<%= img.thumbnail %>" class="d-block" alt="">
                        </div>
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImage[]" value="<%= img.filename %>" id="image-<%=i%>">
                            <label for="image-<%=i%>">Delete?</label>
                        </div>
                        <% }); %>
                </div>
                <!-- <div class=" input-group mb-4">
                            <span class="input-group-text" id="inputGroup-sizing-default">Image Url</span>
                            <input type="text" name="image" class="form-control" required>
                </div> -->
                <button class="btn btn-primary">Update</button>
            </form>
            <form action="/campground/<%= foundproduct._id %>?_method=DELETE" method='POST' class=" d-inline">
                <button class="btn btn-danger">DELETE</button>

                <a href="/campground" class="btn btn-primary d-inline">CANCEL</a>
        </div>
    </div>

    <script src="/javascripts/formValidation.js"></script>